:root{
  --colorShow: #18124A;
  --colorHide: #26C9C3;

}

.container {
  width: 40%;
  display: flex;
  margin: 0 auto;
  padding: 5px 20px;
  height: 60px;
  border-radius: 10px;
}

.passwordHide {
  background-color:var(--colorHide) ;
  transition: background-color 0.3s;
}

.passwordShow {
  background-color: var(--colorShow);
  transition: background-color 0.3s;


}

.logoCandado {
  height: 50%;
  padding-top: 5px;
}

input {
  outline: none;
  border: none;
  background-color: inherit;
  border-left: solid 2px #E6F2F1;
  padding-left: 10px;
  font-size: 20px;
  width: 80%;
}

.passwordShow input {
  color: #E6F2F1;
}

.passwordShow .logoCandado {
  color: var(--colorHide);
  transition: color 0.3s;
  /* Transición para un efecto suave */
}

.logoOjo {
  background-color: var(--colorShow);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.hide{
  display: none;
}

